@font-face {
	font-family: 'Clear Sans';
	src: url('../font/clearsans-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../font/clearsans-bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../font/clearsans-italic.ttf');
	font-weight: normal;
	font-style: italic;
}

body {
	min-width: 900px;
	margin: 0;
	color: #bbb;
	background-color: #364050;
}
button {
	outline: none;
}
h1, h2 {
	font-weight: normal;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto;
}
html {
	font: 10px 'Clear Sans';
}
p {
	margin: 2px 0;
}

#file {
	position: absolute;
	top: -100px;
	left: 0;
	opacity: 0;
}

.noselect {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
.selectable {
	-ms-user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
}
.uppercase {
	text-transform: uppercase;
}
.yellow {
	color: #e5c100;
}
.green {
	color: #008800;
}
.red {
	color: #880000;
}

.svg-path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.header-icon {
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	color: #6e747e;
	transition: all 300ms linear;
	cursor: pointer;
}
.header-icon:hover {
	transform: scale(1.2);
	color: #bbb;
}
.header-icon:active {
	transform: scale(1.1);
}
.header-name {
	font-size: 5rem;
	font-weight: bold;
	color: #6e747e;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.header-nameExpl {
	font-size: 2rem;
	color: #6e747e;
}
.help {
	width: 80%;
	height: 100%;
	padding: 1.6rem;
	cursor: default;
}
.help-borders {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 8px 0;
	border-top: 2px dashed #262d39;
	border-bottom: 2px dashed #262d39;
	background-color: #303948;
}
.help-list {
	font-size: 1.4rem;
	color: #bbb;
}
.help-list-li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.help-wrapper {
	max-height: 0;
	border-top: 2px solid #262d39;
	width: 100%;
	display: flex;
	align-items: flex-start;
	background-color: #303948;
	box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.1);
	overflow-y: hidden;
	transition: max-height 500ms ease-in;
}
.mainWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.step-header {
	margin: 3px 0;
}
.step-wrapper {
	display: flex;
	flex-direction: column;
	padding: 1.6rem 0;
	margin-bottom: 70px;
}
.step1-actions {
	display: flex;
	align-items: center;
	border-top: 1px dashed #bbb;
	margin-top: 13px;
	padding-top: 30px;
}
.step1-actions-fileName {
	font-size: 1.6rem;
	margin: 0 10px 0 50px;
	overflow: hidden;
}
.step1-actions-loadFile {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 1.6rem;
	border-radius: 7px;
	background-color: #555;
}
.step1-actions-loadFile-button {
	cursor: pointer;
	padding: 15px;
	display: flex;
	align-items: center;
}
.step1-actions-loadFile-button:hover {
	background-color: #444;
}
.step1-actions-loadFile-button:active {
	background-color: #333;
}
.step1-actions-loadFile-choose {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-right: 1px solid #393939;
}
.step1-actions-loadFile-upload {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.step1Progress {
	margin: 8px 0;
	border-top: 2px dashed #262d39;
	border-bottom: 2px dashed #262d39;
}
.step1Progress-content {
	margin-bottom: 20px;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}
.step1Progress-content-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.4rem;
}
.step1Progress-content-status {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.7rem;
}
.step1Progress-wrapper {
	max-height: 0;
	margin-top: 60px;
	background-color: #303948;
	box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.2);
	overflow-y: hidden;
	transition: max-height 500ms ease-in; /* При изменении времени изменить так же задержку перед началом чтения файла */
}
.step2-actions {
	border-top: 1px dashed #bbb;
	margin-top: 13px;
}
.step2-actions-open {
	display: inline-block;
	margin-top: 30px;
	font-size: 1.4rem;
	padding: 8px 13px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 1px solid #262d39;
	border-right: 1px solid #262d39;
	border-left: 1px solid #262d39;
	background-color: #303948;
	cursor: pointer;
	transition: box-shadow 100ms linear;
}
.step2-actions-open:active {
	box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.step2-actions-pads {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}
.step2-actions-pads-list {
	flex-grow: 1;
	height: 443px; /* высота вьювера - 2 бордера */
	background-color: #303948;
	border-top: 1px solid #262d39;
	border-bottom: 1px solid #262d39;
	/* Сокрытие скроллбара: */
	position: absolute;
	overflow-y: auto;
	top: 0;
	right: 30px;
	bottom: 0;
	left: 222px;
	z-index: 1;
}
.step2-actions-pads-list-row {
	display: block;
	padding: 10px 25px 10px 25px;
	position: relative;
	font-size: 1.3rem;
	border-bottom: 1px solid #262d39;
	transition: all 100ms linear;
}
.step2-actions-pads-list-row:last-child {
	border: none;
}
.step2-actions-pads-list-row:hover {
	background-color: #262d39;
	cursor: pointer;
}
.step2-actions-pads-list-rowActive {
	background-color: #262d39;
}
.step2-actions-pads-list-row-status {
	position: absolute;
	margin-left: -20px;
}
.step2-actions-pads-info {
	height: 445px;
	min-width: 220px; /* Менять вместе с left у step2-actions-pads-list */
	border-right: 2px solid #262d39;  /* -||- */
	background-color: #303948;
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
.step2-actions-pads-info-descr {
	width: 130px;
	height: 90px;
	margin: 20px auto;
	font-size: 1.3rem;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.step2-actions-pads-info-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	height: 300px;
	margin: 20px auto;
	border: 2px dashed #262d39;
	border-radius: 16px;
	position: relative;
}
.step2-actions-pads-info-icons-auto {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.3rem;
	color: #666;
	cursor: pointer;
	display: none;
}
.step2-actions-pads-info-icons-auto:hover {
	color: #999;
}
.step2-actions-pads-info-icons-auto:active {
	color: #bbb;
}
.step2-actions-pads-info-icons-icon {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
	text-align: center;
	font-size: 1.3rem;
}
.step2-actions-pads-info-icons-separator {
	width: 85%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-top: 1px solid #262d39;
	border-bottom: 1px solid #262d39;
}
.step2-actions-pads-info-icons-cross {
	display: none;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 3px;
	top: 153px; /* Высота блока верхней иконки + 3 */
	font-size: 20px;
	color: rgba(136,0,0,0.5);
	transition: transform 200ms linear;
	z-index: 2;
}
.step2-actions-pads-info-icons-cross:hover {
	color: rgba(136,0,0,1);
	transform: scale(1.1);
	cursor: pointer;
}
.step2-actions-pads-start {
	width: 50px; /* Менять вместе с right у step2-actions-pads-list */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #303948;
	border: 1px solid #262d39;
	font-size: 30px;
	transition: all 100ms linear;
	cursor: pointer;
	z-index: 2; /* Что бы перекрыть скроллбар списка */
}
.step2-actions-pads-start:hover {
	color: #008800;
}
.step2-actions-pads-start:active {
	color: #006600;
	box-shadow: inset -2px 0 2px 2px rgba(0, 0, 0, 0.1);
}
.step2-actions-lib {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px 0;
	padding: 5px;
	border-top: 2px dashed #262d39;
	border-bottom: 2px dashed #262d39;
}
.step2-actions-lib-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	width: 45%;
}
.step2-actions-lib-group-symbol {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	margin: 10px 5px 0;
	cursor: pointer;
}
.step2-actions-lib-wrapper {
	background-color: #303948;
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.1);
	transition-property: max-height, margin-bottom;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
	overflow-y: hidden;
	max-height: 0;
}
.step2-actions-lib-wrapper-JS_toggle_margin {
	margin-bottom: 30px;
}
.step3-actions {
	margin-top: 13px;
	padding-top: 30px;
	border-top: 1px dashed #bbb;
}
.step3-actions-headers {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	border-bottom: 1px solid #262d39;
}
.step3-actions-headers-header {
	width: 50%;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #262d39;
	border-right: 1px solid #262d39;
	border-left: 1px solid #262d39;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #303948;
	text-align: center;
}
.step3-actions-headers-header:hover {
	cursor: pointer;
	background-color: #2b3340;
}
.step3-actions-headers-header:active {
	box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.step3-actions-headers-header-active {
	background-color: #2b3340;
}
.step3-actions-tabContent {
	height: 460px;
	padding: 20px;
	background-color: #303948;
	border: 1px solid #262d39;
	font-size: 1.2rem;
	box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
	position: relative;
}
.step3-actions-tabContent-hideScroll {
	height: 400px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	right: -26px;
}
.step3-actions-tabContent-link {
	font-size: 1.6rem;
	color: #008800;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.step3-actions-tabContent-link:active {
	transform: scale(0.95);
}
.step3-actions-tabContent-linkWrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.step3-actions-tabContent-separator {
	display: none;
	height: 2px;
	margin: 0px 0 20px;
	width: 100%;
	background-color: #262d39;
}
.step3-actions-tabContent-text {
	cursor: text;
}
.version {
	position: absolute;
	width: 130px;
	height: 30px;
	top: -32px;
	left:-38.0761px;
	line-height: 30px;
	font-size: 1.6rem;
	text-align: center;
	color: #6e747e;
	background-color: #303948;
	border-top: 1px solid #2b3340;
	border-bottom: 1px solid #2b3340;
	transform-origin: right bottom;
	transform: rotate(315deg);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
}