@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-italic.ttf');
	font-weight: normal;
	font-style: italic;
}

body {
	min-width: 900px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #364050;
	color: #bbb;
	-webkit-transform: translate3d(0, 0, 0); /* Предотвращает мигание элементов в Сафари при трансформации */
}
button {
	outline: none;
}
h1, h2 {
	font-weight: normal;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto;
}
html {
	font: 10px 'Clear Sans';
}
li {
	margin: 2rem;
}

#file {
	font-size: 1.6rem;
}

.h1-success::after {
	content: '\2714';
	color: #16C116;
	margin-left: 3rem;
}
.h1-error::after {
	content: '\2718';
	color: #C1111F;
	margin-left: 3rem;
}
.h1-help {
	margin: 0;
	text-align: center;
	color: #bbb;
}
.header-text {
	font-size: 5rem;
	font-weight: bold;
	color: #6e747e;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor: default;
}
.header-icon {
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	color: #6e747e;
	cursor: pointer;
	transition: all 300ms linear;
}
.header-icon:hover {
	transform: scale(1.2);
	color: #bbb;
}
.header-icon:active {
	transform: scale(1.1);
}
.help {
	width: 80%;
	height: 100%;
	padding: 1.6rem;
	cursor: default;
}
.help-borders {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0.8rem 0;
	border-top: 2px dashed #262d39;
	border-bottom: 2px dashed #262d39;
	background-color: #303948;
}
.help-list {
	font-size: 1.6rem;
	color: #bbb;
}
.help-wrapper {
	border-top: 2px solid #262d39;
	width: 100%;
	display: flex;
	max-height: 0;
	align-items: flex-start;
	background-color: #303948;
	box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.1);
	overflow-y: hidden;
	transition: all 500ms ease-in;
}
.noselect {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.step {
	display: flex;
	justify-content: space-between;
	border-top: 1px dashed #bbb;
	padding-top: 1.6rem;
}
.step-actions {
	width: 70%;
	display: flex;
	align-items: center;
}
.step-info {
	display: flex;
	align-items: center;
	width: 30%;
	padding: 0.2rem 1rem;
	border-radius: 1.6rem;
	color: #bbb;
	font-style: italic;
	background-color: #303948;
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.1);
}
.step-wrapper {
	display: none;
	flex-direction: column;
	padding: 1.6rem 0;
	margin-bottom: 2rem;
}
.uppercase {
	text-transform: uppercase;
}
.wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
}