@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-bold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clearsans/ttf/clearsans-italic.ttf');
	font-weight: normal;
	font-style: italic;
}

body {
	min-width: 900px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #364050;
	color: #bbb;
}
h1, h2 {
	font-weight: normal;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto;
}
html {
	font: 10px 'Clear Sans';
}
li {
	margin: 2rem;
}

#file {
	font-size: 1.6rem;
}

.cover {
	height: 100%;
	width: 100%;
	z-index: 999;
	position: absolute;
	cursor: default;
	background: rgba(0,0,0,0.4);
}
.h1-success::after {
	content: '\2714';
	color: #16C116;
	margin-left: 3rem;
}
.h1-error::after {
	content: '\2718';
	color: #C1111F;
	margin-left: 3rem;
}
.h1-help {
	margin: 0;
	text-align: center;
	color: #bbb;
}
.header-text {
	font-size: 5rem;
	font-weight: bold;
	color: #6e747e;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor: default;
}
.header-icon {
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	color: #6e747e;
	cursor: pointer;
	transition: all 300ms linear;
}
.header-icon:hover {
	transform: scale(1.2);
	color: #bbb;
}
.help {
	width: 80%;
	height: 100%;
	padding: 1.6rem;
	cursor: default;
}
.help-borders {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0.8rem 0;
	border-top: 2px dashed #262d39;
	border-bottom: 2px dashed #262d39;
	background-color: #303948;
}
.help-list {
	font-size: 1.6rem;
	color: #bbb;
}
.help-wrapper {
	border-top: 2px solid #262d39;
	width: 100%;
	display: flex;
	max-height: 0;
	align-items: flex-start;
	background-color: #303948;
	box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.1);
	overflow-y: hidden;
	transition: all 500ms linear;
}
.lock {
	height: 100%;
	overflow: hidden;
}
.window {
	width: 50%;
	min-width: 500px;
	max-width: 800px;
	min-height: 200px;
	max-height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #bbb;
	border-radius: 15px;
	border: 7px solid #666;
	box-shadow: 0px 0px 10px 15px rgba(0,0,0,0.1);
	transition: all 500ms linear;
}
.window-button {
	padding: 1rem 3rem;
	font-size: 1.6rem;
	color: #000;
	background-image: linear-gradient(to bottom,  #ddd, #ccc);
	border: 1px solid #aaa;
	outline: none;
}
.window-button:hover {
	background-image: linear-gradient(to top,  #ddd, #ccc);
}
.window-button:active {
	background-image: linear-gradient(to top,  #ccc, #bbb);
}
.window-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
}
.window-header {
	min-height: 15px;
	margin: -1px -1px 0 -1px; /* Иначе появляются разрывы из-за округления(?) */
	padding: 0.3rem 1.5rem 1rem;
	background-color: #666;
	font-size: 2rem;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.window-content {
	padding: 2rem 1.5rem;
	font-size: 1.6rem;
	color: #000;
	overflow: auto;
}
.noselect {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.pusher {
	flex-grow: 1;
}
.step {
	display: flex;
	justify-content: space-between;
	border-top: 1px dashed #bbb;
	padding-top: 1.6rem;
}
.step-actions {
	width: 70%;
	display: flex;
	align-items: center;
}
.step-info {
	display: flex;
	align-items: center;
	width: 30%;
	padding: 0.2rem 1rem;
	border-radius: 1.6rem;
	color: #bbb;
	font-style: italic;
	background-color: #303948;
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.1);
}
.step-wrapper {
	display: none;
	flex-direction: column;
	padding: 1.6rem 0;
	margin-bottom: 2rem;
}
.uppercase {
	text-transform: uppercase;
}
.wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
}